[submodule "java_dann"]
	path = java_dann
    url = http://gerrit.syncleus.com/dANN-core
    branch = v2.x
[submodule "java_dann_examples"]
	path = java_dann_examples
    url = http://gerrit.syncleus.com/dANN-examples
    branch = v2.x
