[submodule "projects/java_dann"]
    path = projects/java_dann
    url = http://gerrit.syncleus.com/dANN-core
    branch = master
[submodule "projects/java_dann_examples"]
    path = projects/java_dann_examples
    url = http://gerrit.syncleus.com/dANN-examples
    branch = master
[submodule "projects/c_dann_library"]
    path = projects/c_dann_library
    url = http://gerrit.syncleus.com/dANN-C
    branch = master
[submodule "projects/cs_dann_library"]
    path = projects/cs_dann_library
    url = http://gerrit.syncleus.com/dANN-CS
    branch = master
[submodule "projects/dann_jni"]
    path = projects/dann_jni
    url = http://gerrit.syncleus.com/dANN-C-JNI
    branch = master
[submodule "projects/dannalyzer"]
    path = projects/dannalyzer
    url = http://gerrit.syncleus.com/dANNALYZER
    branch = master
[submodule "projects/jung_dann"]
    path = projects/jung_dann
    url = http://gerrit.syncleus.com/dANN-jung
    branch = master
[submodule "projects/neuroph_dann"]
    path = projects/neuroph_dann
    url = http://gerrit.syncleus.com/dANN-neuroph
    branch = master
[submodule "projects/rdf_dann"]
    path = projects/rdf_dann
    url = http://gerrit.syncleus.com/dANN-rdf
    branch = master

